<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="30" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MindfulnestApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.teacher_section.classrooms.ClassroomIndexActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.settings.SettingsMainActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.settings.SettingsPasswordActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.settings.SettingsBleActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.classrooms.ClassroomShowStudentsActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.classrooms.ClassroomShowStatsActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.ActiveClassroomIndexActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.StudentIndexActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.students.StudentEditActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.students.StudentAddActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.students.CameraActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.CopingSkillIndexActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.EmotionIndexActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.ChooseClassroomActivity"
            android:exported="true"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.student_section.ChooseStudentActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.choose_emotion.ChooseEmotionActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.choose_emotion.ChooseEmotionAndTalkAboutItActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.ChooseCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_flower.FlowerCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_flower_rainbow.FlowerRainbowCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_flower_standalone.FlowerStandaloneCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_static.EmptyStaticCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_cuddle.CuddleCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_static.DanceCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_video.JumpingJacksCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_static.ShareCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_wand.WandCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_wand_standalone.WandStandaloneActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.post_coping_skills.post_coping_skill_heart_beating.HeartBeatingActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.post_coping_skills.post_coping_skill_finished_exercise.FinishedExerciseActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.post_coping_skills.post_coping_skill_rejoin_friends.RejoinFriendsActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.post_coping_skills.post_coping_skill_use_words.UseWordsActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.post_coping_skills.post_coping_skill_use_words.RecordUseWordsActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_video.YogaMadExcitedActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_video.YogaSadActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_video.YogaHappyActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_squeeze.SqueezeCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_talk_about_it.TalkAboutItActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_talk_to_the_teacher.TalkToTheTeacherCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_cuddle_with_squeeze.SqueezeCuddleCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.check_in.DisplayEmotionCheckInActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_video.YogaScaredActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.student_section.coping_skills.coping_skill_video.ParentVideoCopingSkillActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.LoginActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".activities.teacher_section.session_index.SessionIndexActivity"
            android:screenOrientation="userLandscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
    </application>

</manifest>